<a href="https://colab.research.google.com/github/yeray142/AIML_class/blob/master/Week4/w4_AIML_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Task:**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [47]:
import pandas as pd

df = pd.read_csv('data/earthquakes.csv')

In [4]:
df.loc[3:10, ['mag', 'magType', 'type']]

     mag magType        type
3   0.44      ml  earthquake
4   2.16      md  earthquake
5   2.61      md  earthquake
6   1.70      ml  earthquake
7   1.13      md  earthquake
8   0.92      md  earthquake
9   4.70      mb  earthquake
10  0.50      ml  earthquake

In [ ]:
df.iloc[3:10, [8, 9, 21]]

In [ ]:
df.loc[
    (df.place.str.contains('Arizona$'))
]

In [ ]:
df.loc[
    [df.mag.idxmax()]
]

In [ ]:
df.nlargest(n=10, columns=['mag'])

**Second Task**

In [51]:
try:
  del df['alert']
except:
  print("There's no alert column anymore!")
  
df.columns

There's no alert column anymore!

Index(['cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mmi', 'net',
       'nst', 'place', 'rms', 'sig', 'sources', 'status', 'time', 'title',
       'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')

In [48]:
mag = df.pop('mag')
magType = df.pop('magType')
mag

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [ ]:
newDataFrame = pd.DataFrame(pd.concat([mag, magType], axis=1))
newDataFrame