<a href="https://colab.research.google.com/github/yeray142/AIML_class/blob/master/week3_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import datetime as dt

In [12]:
df=pd.DataFrame(
    np.array([
        ["Yeray", "Play videogames", "Spain"],
        ["Name2", "watch Netflix", "Korean"],
        ["Name3", "watch animation", "Korean"],
        ["Name4", "play guitar", "Korean"]
    ]), columns=["Name", "Hobby", "Nationality"]
)

In [13]:
df.to_csv('output.csv', index=False)

In [17]:
df_reload=pd.read_csv('output.csv')

In [18]:
df=pd.DataFrame(
    np.array([
        ["Yeray", "Play videogames", "Spain", 20],
        ["Name2", "watch Netflix", "Korean", 19],
        ["Name3", "watch animation", "Korean", 22],
        ["Name4", "play guitar", "Korean", 23]
    ]), columns=["Name", "Hobby", "Nationality", "Age"]
)

In [21]:
df.dtypes

Name           object
Hobby          object
Nationality    object
Age            object
dtype: object

In [24]:
df['Age']=pd.to_numeric(df['Age'])

In [25]:
df.dtypes

Name           object
Hobby          object
Nationality    object
Age             int64
dtype: object

In [27]:
df['Age'].sum()

84

In [28]:
df['Age'].median()

21.0

In [31]:
new_index=pd.Index([100,200,300,400])

In [32]:
new_index

Int64Index([100, 200, 300, 400], dtype='int64')

In [33]:
df.index=new_index

In [34]:
df

      Name            Hobby Nationality  Age
100  Yeray  Play videogames       Spain   20
200  Name2    watch Netflix      Korean   19
300  Name3  watch animation      Korean   22
400  Name4      play guitar      Korean   23